/*  i highly reccomend starting with this code
    and making everything percentage based
    as this will make it compatable with any
    device the website is being used on
    
    there are also many color palette websites 
    so you can just copy and paste the hex value or
    whatever you end up using to make it straight forward for you

    im not sure if you have done anything with css before
    but you can do some very cool things with it even tho it
    doesnt seem like you can on the surface

    I would also maybe add a dark theme to it after you get 
    the main colors down and working, you can do the dark mode
    manually and make the colors compliment each other or you can
    just find the high contrast version of each color you
    end up choosing. 

    dont forget that the user can customize their own colors of
    what they add to their calendar - similar to google calendar
    i dont mean to pile a lot on top of you but once you get a hang
    of the language a lot of it will be copying and pasting your own
    code but with different colors
*/

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Default background color white
    Dark mode background will be dark grey
    will work on dark mode once the basic requirements are done
*/

body{
    background:#ffffff;
    color:#000000
}

/*Dark mode
    Changes the white background to a dark grey
    and the black text to white
    just needs some js function
*/
.darkmode{
    background-color: #757575;
    color: #ffffff;
}



/*Header*/
.header-container{
    background-color: #51a04a;
}

.header-content{
    text-align: center;    
    color: #ffffff;
    padding: 5%;
}

/*Heaader Navbar*/

.navigation-container{
    position: sticky;
    top: 0%;
}
.navigation-container ul{
    list-style-type: none;
    background-color: #535353;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.navigation-container a{
    color:#ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navigation-container a:hover{
    background-color: #707070;
}

.navigation-container li{
    float: left;
}

/*Sections*/
.section-title {
    background-color: #535353;
    color: #ffffff;
    padding: 1%;
    text-align: center;
}

/*Dashboard*/
.card-container{
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.dashboard-card p{
    padding: 0%;
    margin: 2%;    
}

/*Assignments and Schedule*/
.form-container{
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.form-label{
    padding: 0%;
    margin: 0%;
}

.button-group{
    padding: 0%;
    margin: 0%;
}

.list-section{
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.list-section ul{
    list-style-type: none;
    padding: 0%;
    margin: 2%;
}

/*Calendar Section*/
.calendar-container{
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;    
}

/*Notes Section*/


/*Footer*/
.footer-container{
    background-color: #535353;
    background-attachment: fixed;
    color:#ffffff;
    padding: 1%;
    text-align: center;
    
}
