/*  i highly reccomend starting with this code
    and making everything percentage based
    as this will make it compatable with any
    device the website is being used on
    
    there are also many color palette websites 
    so you can just copy and paste the hex value or
    whatever you end up using to make it straight forward for you

    im not sure if you have done anything with css before
    but you can do some very cool things with it even tho it
    doesnt seem like you can on the surface

    I would also maybe add a dark theme to it after you get 
    the main colors down and working, you can do the dark mode
    manually and make the colors compliment each other or you can
    just find the high contrast version of each color you
    end up choosing. 

    dont forget that the user can customize their own colors of
    what they add to their calendar - similar to google calendar
    i dont mean to pile a lot on top of you but once you get a hang
    of the language a lot of it will be copying and pasting your own
    code but with different colors
*/

/*
    I've found that em units are
    best to work with and is compatible
    with any device
*/
* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /*
        Will need js for user input im order for
        the color to switch to user's desired color
    */    
    --base-color:#3b3b3b;

    --surface-color: oklch(from var(--base-color) calc(l * 1.2) c h);
    --hover-color: oklch(from var(--base-color) calc(l * 1.6) c h );
    --text-color: #f0f0f0;
    --secondary-text-color: #b0b3c0;

    background: var(--base-color);
    color: var(--text-color);
    
}

.header-content {
    padding: 1em;
}

/*Color picker button*/
.color-picker {
    display: flex;
    gap: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.color-picker label[for="base-color-input"] {
    background: var(--surface-color);
    padding: .7em 1em;
    border-radius: .5em;
    display: flex;
    align-items: center;
    gap: 1em;
}

#base-color-input {
    width: 2em;
    height: 2em;
    background: none;
    border: none;
}

/*Navigation Bar*/
.navigation-container ul {
    list-style-type: none;
    background: var(--surface-color);
    border-radius: .5em;
    padding-left: .9em;
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
}

.navigation-container a {
    color: var(--text-color);
    text-decoration: none;
    padding: .9em;
    display: flex;
    text-align: center;
}

.navigation-container a:hover {
    background: var(--hover-color);
    border-radius: .5em;
}

.navigation-container li {
    float: left;
}

main {
    margin:1em;
    margin-left: 3em;
    margin-right: 3em;
}

/*Applies to all Sections*/
section {
    background: var(--surface-color);
    color: var(--secondary-text-color);
    padding: 1.5em;
    border-radius: .5em;
    margin: 1em;
}

section h2 {
    padding: .5em;
    color: var(--text-color);
}

section h3 {
    color: var(--text-color);
    margin:.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

section p {
    padding: .5em;
    margin:.5em;
    margin-left: 3em;
    margin-right: 3em;
}

section li {
    padding: .5em;
    margin:.5em;
    margin-left: 3em;
    margin-right: 3em;
    list-style-type: none;
}

/*Assignment and Class Section forms*/
section form {
    padding: .5em;
    margin:.5em;
    margin-left: 3em;
    margin-right: 3em;
}

.form-group {
    padding: .3em;
}

.form-input {
    padding: .2em;
    border-radius: .5em;
}

.form-select {
    padding: .2em;
    border-radius: .5em;
}

/*Assiignment, Class, and Note Section buttons*/
.action-button {
    padding: .2em;
    border-radius: .5em;
    padding: .4em .4em;
}

/*Notes Section*/
.form-textarea {
    padding: 1em;
    width: 15em;
    border-radius: .5em;
}

/*Footer*/
.footer-container{
    padding: 1em
}
